## 로지스틱회귀

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('https://raw.githubusercontent.com/ralbu85/DataScience_2022S/master/data/classification_data.csv')

In [9]:
df

          X1        X2  y
0  -2.056844 -0.752741  0
1   1.760238  1.558517  1
2  -0.447763 -1.554927  1
3   1.008459  0.529517  1
4   0.636547  0.409058  1
..       ...       ... ..
95 -0.129932 -0.797169  0
96  1.426902  1.244639  1
97 -0.582968  1.630750  1
98 -0.619720  1.630840  0
99  1.938929  0.069963  1

[100 rows x 3 columns]

## 로지스틱 회귀

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
reg=LogisticRegression()

### 데이터 분할

In [12]:
X = df[['X1','X2']]

In [13]:
y = df['y']

In [14]:
reg.fit(X,y)

LogisticRegression()

## 예측된 값 csv 파일로 내보내기

In [22]:
import numpy as np
result=reg.predict(X)
pd.Series(result).to_csv('result.csv',index=False)